.headerContenedor{
    width: 100%;
    padding: 25px;
    background: rgb(75,171,80);
    background: linear-gradient(0deg, rgba(75,171,80,1) 7%, rgba(253,187,45,1) 100%);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.headerContenedor .imgLogo{
    margin-right: 15px;
}

.headerContenedor .imgLogo a img{  
    width: 120px;
    border-radius: 50%;
}