.itemProducto{
    width: 100%;
    background-color: #8fb142;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    gap: 8px;
}

.contenedorCarrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedorCarrito .restarCantidad{
    color: white;
    font-size: 16px;
    background-color: #167766;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.contenedorCarrito .restarCantidad:active{
    transform: scale(0.9);
}

.contenedorCarrito .restarCantidad::before{
    content: ' ';
    width: 10px;
    height: 3px;
    position: absolute;
    background-color: white;
}

.contenedorCarrito .txtCantidad{
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 60px;
    text-align: center;
}

.contenedorCarrito .aumentarCantidad{
    color: white;
    font-size: 16px;
    background-color: #167766;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.contenedorCarrito .aumentarCantidad:active{
    transform: scale(0.9);
}

.contenedorCarrito .aumentarCantidad::before{
    content: ' ';
    width: 10px;
    height: 3px;
    position: absolute;
    background-color: white;
}
.contenedorCarrito .aumentarCantidad::after{
    content: ' ';
    width: 3px;
    height: 10px;
    position: absolute;
    background-color: white;
}


 .infoItem {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.infoItem button{
    border: 0;
    background-color: #167766;
    color: white;
    padding: 7px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.infoItem button:active{
    transform: scale(0.9);
}